          
          <div class="news{% if include.scrollable %} news-scrollable{% endif %}">
            {% if site.news != blank -%} 
            {%- assign news_size = site.news | size -%}
              {%- assign all_news = site.news | reverse -%}
              {%- if page.lang == "zh" -%}
                {%- assign news = all_news | where: "lang", "zh" -%}
              {%- else -%}
                {%- assign news = all_news | where_exp: "item", "item.lang != 'zh'" -%}
              {%- endif -%}
              {% if include.limit %}
              {% assign news_limit = include.limit %}
              {% elsif site.news_limit %}
              {% assign news_limit = site.news_limit %}
              {% else %}
              {% assign news_limit = news_size %}
              {% endif %}
              {% if include.bullets %}
                <ul class="news-list">
                {% for item in news limit: news_limit %}
                  <li>
                    <span class="news-date">[{{ item.date | date: "%y/%m" }}]</span>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </li>
                {%- endfor %}
                </ul>
              {% else %}
                <div class="table-responsive">
                  <table class="table table-sm table-borderless">
                  {% for item in news limit: news_limit %}
                    <tr>
                      <!-- <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th> -->
                      <th scope="row">{{ item.date | date: "%b, %Y" }}</th>
                      <td>
                        {% if item.inline -%}
                          {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                        {%- else -%}
                          <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                        {%- endif %}
                      </td>
                    </tr>
                  {%- endfor %}
                  </table>
                </div>
              {% endif %}
          {%- else -%}
            {% if page.lang == "zh" %}
              <p>暂无动态...</p>
            {% else %}
              <p>No news so far...</p>
            {% endif %}
          {%- endif %} 
          </div>
