/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

.language-toggle {
  border: 1px solid var(--global-divider-color);
  border-radius: 4px;
  line-height: 1.2;
  margin-left: 0.5rem;
  padding: 0.25rem 0.5rem !important;
}

// Profile
.profile {
  figure {
    text-align: center;
  }

  img {
    width: 55%;
  }

  .address {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }
}

.profile.float-right {
  figure {
    text-align: right;
  }

  .address {
    margin-left: auto;
    margin-right: 0;
  }
}

.profile.float-left {
  figure {
    text-align: left;
  }

  .address {
    margin-left: 0;
    margin-right: auto;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
