{% assign repo_url =  include.repository | split: '/' %}
{% assign repo_owner = repo_url[0] %}
{% assign repo_name = repo_url[1] %}
{% assign repo_branch = repo_url[3] %}

{% if site.data.repositories.github_users contains repo_owner %}
  {% assign show_owner = false %}
{% else %}
  {% assign show_owner = true %}
{% endif %}

<div class="repo p-2">
  <a class="repo-card" href="https://github.com/{{ include.repository }}">
    <div class="repo-icon">
      <i class="fab fa-github"></i>
    </div>
    <div class="repo-meta">
      {% if show_owner %}
        <div class="repo-owner">{{ repo_owner }}</div>
      {% endif %}
      <div class="repo-name">{{ repo_name }}</div>
      {% if repo_branch %}
        <div class="repo-branch">{{ repo_branch }}</div>
      {% endif %}
    </div>
  </a>
</div>
