---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title about-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} <span class="font-weight-bold">{{ site.last_name }}</span>{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc"><span class="font-weight">:envelope: : </span> {{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              <em>{{ page.profile.address }}</em>
              <br />
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          <br />
          {% if page.news -%}
            {% if page.lang == "zh" %}
              {% assign news_url = "/zh/news/" %}
              {% assign news_title = "动态" %}
            {% else %}
              {% assign news_url = "/news/" %}
              {% assign news_title = "News" %}
            {% endif %}
            <h2><a href="{{ news_url | relative_url }}" style="color: inherit;"><span class="font-weight-bold">{{ news_title }}</span></a></h2>
            <br />
            {%- include news.html scrollable=site.news_scrollable bullets=true %}
          {%- endif %}
          <br />
          <!-- Selected papers -->
          {% if page.selected_papers -%}
            {% if page.lang == "zh" %}
              {% assign papers_url = "/zh/publications/" %}
              {% assign papers_title = "论文" %}
            {% else %}
              {% assign papers_url = "/publications/" %}
              {% assign papers_title = "Papers" %}
            {% endif %}
            <h2><a href="{{ papers_url | relative_url }}" style="color: inherit;"><span class="font-weight-bold">{{ papers_title }}</span></a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>
              
            </div>
          {%- endif %}
        </article>

</div>
